@charset "UTF-8";
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure {
  margin: 0;
  padding: 0;
}

ul,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #F7F7F7;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.font-title, .bathroom5__title, .service9__title, .service6__title, .service5__text, .sd_b12__wrap__info__title, .sd_b11__title, .sd_b10__title, .sd_b9__title, .sd_b8__card__item__subtitle, .sd_b8__title, .sd_b7__title, .sd_b6__wrap__bg__subtitle, .sd_b6__title, .sd_b5__title, .sd_b4__title {
  font-family: "Catamaran";
  font-weight: 600;
  font-size: 33px;
  line-height: 1.4;
  letter-spacing: 0.015em;
  text-align: center;
  color: #292a24;
}

.font-text, .about1 .sd_b3__text, .bathroom5__text, .bathroom5__subtitle, .bathroom3 .sd_b4__text1, .service9__text, .sd_b10__cardList__card__text, .sd_b8__card__item__text, .sd_b8__text, .slider-b7__item__text, .sd_b7__text, .sd_b6__wrap__bg__text, .sd_b4__text, .sd_b4__list {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.23;
  color: #585858;
  text-align: center;
  color: #292a24;
}

.font-link, .footer .wrapContact__title, .footer .wrapSitemap, .footer .wrapServices, .footer__nav .logoBox p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 19px;
  line-height: 1.21;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  color: #A5A5A5;
}

.current-menu-item, .bathroom6 .current-menu-item, .bathroom3 .current-menu-item {
  position: relative;
}
.current-menu-item a, .bathroom6 .current-menu-item a, .bathroom3 .current-menu-item a {
  color: #e3022b;
}
.current-menu-item::after, .bathroom6 .current-menu-item::after, .bathroom3 .current-menu-item::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -34px;
  width: 100%;
  height: 9px;
  background: #e3022b;
  border-radius: 41px;
}

.button, .sd_b12__wrap__form button, .sd_b6__wrap__bg__btn, .sd_b5__request__btn, .sd_b4__btn, .slider__item__btn, .service1__item__btn {
  display: block;
  background-color: #0f4485;
  color: #fff;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  padding: 14px 42px;
  border-radius: 5px;
  border-top-left-radius: 25px;
  border: none;
}

.anchor, .bathroom5__frame, .service9__frame, .service6__frame, .sd_b11__frame, .sd_b10__frame, .sd_b9__frame, .sd_b8__frame, .sd_b7__frame, .sd_b5__frame, .sd_b4__frame, .sd_b3__frame {
  display: inline-block;
  margin-bottom: 14px;
  padding: 8px 21px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 17px;
  line-height: 1.23;
  letter-spacing: 0.015em;
  background: rgba(227, 2, 43, 0.11);
  border-radius: 2px;
  text-transform: uppercase;
}
.anchor a, .bathroom5__frame a, .service9__frame a, .service6__frame a, .sd_b11__frame a, .sd_b10__frame a, .sd_b9__frame a, .sd_b8__frame a, .sd_b7__frame a, .sd_b5__frame a, .sd_b4__frame a, .sd_b3__frame a {
  color: #e3022b;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 53px;
  padding: 12px;
  background-color: #292a24;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 4%;
  padding-right: 4%;
}
.header .header-contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}
.header .header-contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.header .header-contact-item svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header .header-contact-item:nth-child(1) {
  -ms-flex-preferred-size: 475px;
      flex-basis: 475px;
  min-width: 293px;
  max-width: 475px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header .header-contact-item:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1;
          flex: 0 0 1;
}
.header .header-contact-item:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header .header-contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #f7f7f7;
}
.header .header-contact__icon {
  margin-right: 13px;
  background: #ffffff;
  border-radius: 8px;
  padding: 5px;
}
.header .header-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 55px 18px 55px;
}
.header .nav-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  color: #f7f7f7;
}
.header .nav-item a {
  color: #666666;
}
.header .nav-item:hover a {
  color: #e3022b;
}
.header .nav-menu {
  width: 13%;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header .nav-menu:hover .toggle {
  color: #e3022b;
}
.header .nav-menu.menu {
  display: grid;
  grid-template-rows: 40px -webkit-max-content;
  grid-template-rows: 40px max-content;
  gap: 10px;
}
.header .toggle {
  all: unset;
  background-color: transparent;
  color: #666666;
  width: 95px;
  padding: 10px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.header .toggle::after {
  content: "";
  width: 10px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  top: 36%;
  left: 85%;
}
.header .list {
  position: absolute;
  background: #ffffff;
  -webkit-box-shadow: 0px 24px 32px 4px rgba(167, 174, 186, 0.12);
          box-shadow: 0px 24px 32px 4px rgba(167, 174, 186, 0.12);
  border-radius: 4px;
  color: #444;
  display: grid;
  grid-template-rows: repeat(7, 48px);
  overflow: hidden;
  height: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 43px;
  z-index: 10;
  width: 311px;
  left: 313px;
}
.header .list::after {
  content: "";
  position: absolute;
  top: -10px;
  left: calc(50% - 10px);
  border-top: 10px solid transparent;
  border-bottom: 10px solid #044b7f;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transition: border 0.4s;
  transition: border 0.4s;
  z-index: 10;
  overflow: hidden;
}
.header .list a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #292a24;
}
.header .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 29px;
  -webkit-transition: 0.4s, -webkit-transform 0.4s var(--delay);
  transition: 0.4s, -webkit-transform 0.4s var(--delay);
  transition: 0.4s, transform 0.4s var(--delay);
  transition: 0.4s, transform 0.4s var(--delay), -webkit-transform 0.4s var(--delay);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.header .list-item:hover {
  background-color: rgba(15, 68, 133, 0.13);
}
.header .list-item:hover a {
  color: #0f4485;
}
.header .toggle:focus::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.header .toggle:focus ~ .list {
  height: 337px;
}
.header .toggle:focus ~ .list .list-item {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.header .header-btn {
  height: 43px;
  padding: 12px 26px;
}
.header .menu-open {
  display: none;
}
@media screen and (max-width: 992px) {
  .header .header-contact {
    height: 135px;
    padding: 10px 0;
    gap: 0;
  }
  .header .header-contact-item {
    -ms-flex-item-align: start;
        align-self: start;
    padding-left: 5%;
  }
  .header .header-contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header .header-contact-item:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .header .header-contact-item:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .header .header-contact-item:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .header .header-contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 0;
    text-align: left;
  }
  .header .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 20px 15px 20px;
  }
  .header .nav-list {
    display: none;
  }
  .header .header-btn {
    display: none;
  }
  .header .menu-open {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.slider__item, .service1 {
  position: relative;
  height: 580px;
  padding-top: 164px;
  padding-left: 55px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 53, 53, 0.228)), color-stop(86.98%, rgba(0, 0, 0, 0.4731))), url(../src/img/home-hero.jpg);
  background-image: linear-gradient(180deg, rgba(53, 53, 53, 0.228) 0%, rgba(0, 0, 0, 0.4731) 86.98%), url(../src/img/home-hero.jpg);
  -webkit-backdrop-filter: url(../src/img/home-hero.jpg) blur(1.5px);
          backdrop-filter: url(../src/img/home-hero.jpg) blur(1.5px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider__item:nth-child(3), .service1:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 53, 53, 0.228)), color-stop(86.98%, rgba(0, 0, 0, 0.4731))), url(../src/img/hero1.jpg);
  background-image: linear-gradient(180deg, rgba(53, 53, 53, 0.228) 0%, rgba(0, 0, 0, 0.4731) 86.98%), url(../src/img/hero1.jpg);
}
.slider__item:nth-child(4), .service1:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 53, 53, 0.228)), color-stop(86.98%, rgba(0, 0, 0, 0.4731))), url(../src/img/hero2.jpg);
  background-image: linear-gradient(180deg, rgba(53, 53, 53, 0.228) 0%, rgba(0, 0, 0, 0.4731) 86.98%), url(../src/img/hero2.jpg);
}
.slider__item:nth-child(5), .service1:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 53, 53, 0.228)), color-stop(86.98%, rgba(0, 0, 0, 0.4731))), url(../src/img/hero3.jpg);
  background-image: linear-gradient(180deg, rgba(53, 53, 53, 0.228) 0%, rgba(0, 0, 0, 0.4731) 86.98%), url(../src/img/hero3.jpg);
}
.slider__item:nth-child(6), .service1:nth-child(6) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 53, 53, 0.228)), color-stop(86.98%, rgba(0, 0, 0, 0.4731))), url(../src/img/hero4.jpg);
  background-image: linear-gradient(180deg, rgba(53, 53, 53, 0.228) 0%, rgba(0, 0, 0, 0.4731) 86.98%), url(../src/img/hero4.jpg);
}
.slider__item__title, .service1__item__title {
  font-family: "Catamaran";
  font-weight: 700;
  font-size: 52px;
  line-height: 1.63;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  color: #fff;
}
.slider__item__text, .service1__item__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.25;
  color: #fff;
  max-width: 679px;
  margin-bottom: 36px;
}
.slider__item__btn, .service1__item__btn {
  padding: 14px 38px;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
}

/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 55px;
}

.slick-dots li {
  list-style: none;
  margin-top: -46px;
  z-index: 10;
}

/* Активная точка */
.slick-dots li.slick-active button {
  width: 46px;
  height: 9px;
  border: 1px solid #fff;
  background: #fff;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 13px;
  height: 9px;
  border: 1px solid #fff;
  border-radius: 12px;
  background-color: transparent;
  margin: 0 6px;
}

.sd_b2, .service2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 78px;
  border-bottom: 2px solid #e9e9e9;
  padding: 0 65px;
}
.sd_b2__wrap, .service2__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sd_b2__wrap__icon, .service2__wrap__icon {
  margin-right: 11px;
}
.sd_b2__wrap__text, .service2__wrap__text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 17px;
  line-height: 1.23;
  text-align: center;
  color: #acacac;
}
@media screen and (max-width: 992px) {
  .sd_b2, .service2 {
    display: none;
  }
}

.sd_b3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 64px 55px;
}
.sd_b3__img-list, .sd_b9__img-list {
  display: grid;
  grid-template-columns: 251px 251px;
  grid-template-rows: 251px 294px;
  -webkit-column-gap: 31px;
     -moz-column-gap: 31px;
          column-gap: 31px;
  margin-left: 70px;
}
.sd_b3__img-list li:nth-child(2), .sd_b9__img-list li:nth-child(2) {
  margin-top: 47px;
}
.sd_b3__img-list li:nth-child(3), .sd_b9__img-list li:nth-child(3) {
  margin-left: 26px;
}
.sd_b3__wrap {
  margin-left: 97px;
}
.sd_b3__title {
  max-width: 447px;
  margin-bottom: 14px;
  font-family: "Catamaran";
  font-weight: 600;
  font-size: 33px;
  line-height: 1.4;
  letter-spacing: 0.015em;
  color: #292a24;
}
.sd_b3__text1, .sd_b3__text2 {
  max-width: 700px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.23;
  color: #585858;
}
.sd_b3__text1:not(:last-child), .sd_b3__text2:not(:last-child) {
  margin-bottom: 23px;
}
@media screen and (max-width: 992px) {
  .sd_b3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sd_b3__img-list, .sd_b9__img-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .sd_b3__wrap {
    margin: 0 auto;
    margin-top: 32px;
  }
}

.sd_b4 {
  padding-top: 100px;
  padding-right: 104px;
  padding-bottom: 61px;
  padding-left: 126px;
  text-align: center;
}
.sd_b4__title {
  margin-bottom: 36px;
}
.sd_b4__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 99px;
  width: 55%;
  font-family: "Catamaran";
  font-weight: 500;
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0.015em;
}
.sd_b4__wrap::after {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  bottom: -34px;
  width: 101%;
  height: 10px;
  background: #eeeeee;
  border-radius: 41px;
  z-index: -10;
}
.sd_b4__wrap__link {
  color: #292a24;
}
.sd_b4__subtitle {
  margin-bottom: 14px;
  font-family: "Catamaran";
  font-weight: 600;
  font-size: 25px;
  line-height: 1.4;
  letter-spacing: 0.015em;
  text-align: left;
  color: #292a24;
}
.sd_b4__text, .sd_b4__list {
  text-align: left;
}
.sd_b4__text:not(:last-child), .sd_b4__list:not(:last-child) {
  margin-bottom: 20px;
}
.sd_b4__list__item {
  margin-bottom: 34px;
}
.sd_b4__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sd_b4__item {
  margin-bottom: 13px;
}
.sd_b4__item::before {
  content: url("../src/img/angle.svg");
  display: inline-block;
  width: 17px;
  height: 15px;
  margin-right: 14px;
}
.sd_b4__btn {
  margin-top: 37px;
  background-color: #0f4485;
}
.sd_b4__service {
  padding-right: 65px;
}
@media screen and (max-width: 992px) {
  .sd_b4 {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  .sd_b4__subtitle {
    text-align: center;
  }
  .sd_b4__subtext {
    text-align: center;
  }
  .sd_b4__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sd_b4__btn {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.sd_b5 {
  padding-top: 100px;
  padding-bottom: 64px;
  text-align: center;
}
.sd_b5__title {
  margin-bottom: 80px;
}
.sd_b5__subtitle {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.4;
  letter-spacing: 0.015em;
  color: #000000;
  margin-bottom: 18px;
}
.sd_b5__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #585858;
}
.sd_b5__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 28px;
}
.sd_b5__card {
  width: 260px;
  height: 190px;
  margin-bottom: 128px;
}
.sd_b5 .icon-b5 {
  padding: 20px;
}
.sd_b5 .wrap {
  text-align: center;
  background-color: #eee;
  margin: 0 auto;
}
.sd_b5 .wrap__border {
  width: 100%;
  margin-bottom: 55px;
}
.sd_b5 .wrap__border__letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  font-weight: 700;
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 50%;
  background-color: red;
  font-size: 19px;
  color: #ffffff;
  margin: 0 auto;
}
.sd_b5__request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 207px;
  padding: 51px 76px 81px;
  background-image: url(../src/img/sd_b5-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sd_b5__request__subtitle {
  margin-bottom: 7px;
  text-align: start;
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 51px;
  color: #fff;
}
.sd_b5__request__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
}
.sd_b5__request__btn {
  background-color: #fff;
  color: #0f4485;
  height: 45px;
  border-top-left-radius: 20px;
  padding: 11px 31px 12px 32px;
  margin-top: 30px;
  margin-left: 77px;
}
@media screen and (max-width: 992px) {
  .sd_b5__request {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sd_b5__request__subtitle {
    text-align: center;
  }
  .sd_b5__request__btn {
    height: 65px;
  }
  .sd_b5__request__text {
    margin: auto;
  }
}

.sd_b6 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.sd_b6__title {
  margin-bottom: 27px;
  text-transform: capitalize;
}
.sd_b6__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sd_b6__wrap__bg {
  height: 369px;
  width: 665px;
  background-image: url(../src/img/sd_b6-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sd_b6__wrap__bg:nth-child(2) {
  background-image: url(../src/img/sd_b6-2.png);
}
.sd_b6__wrap__bg__subtitle {
  margin-bottom: 15px;
  margin-top: 148px;
  font-size: 25px;
  line-height: 1.64;
}
.sd_b6__wrap__bg__text {
  margin-bottom: 34px;
  padding-left: 145px;
  padding-right: 145px;
}
.sd_b6__wrap__bg__btn {
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .sd_b6 {
    padding-top: 0;
    padding-left: 30px;
    padding-bottom: 0;
    padding-right: 30px;
  }
  .sd_b6__wrap__bg__subtitle {
    margin-top: 120px;
  }
  .sd_b6__wrap__bg__text {
    margin-bottom: 34px;
    padding-left: 0;
    padding-right: 0;
  }
}

.sd_b7 {
  margin-top: 64px;
  margin-bottom: 64px;
  height: 536px;
  background-image: url(../src/img/sd_b7-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.sd_b7__frame {
  margin-top: 34px;
}
.sd_b7__frame a {
  color: #fff;
}
.sd_b7__title {
  margin-bottom: 14px;
  text-transform: capitalize;
  color: #fff;
}
.sd_b7__text {
  margin-bottom: 64px;
  color: #fff;
}

.slider-b7__item {
  background-color: #103868;
  background-image: none;
  width: 580px;
  height: 235px;
  padding: 24px 13px 28px 31px;
  margin-right: 22px;
}
.slider-b7__item__wrap {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 19px;
  grid-row-gap: 6px;
}
.slider-b7__item__wrap__img {
  grid-area: 1/1/3/2;
}
.slider-b7__item__wrap__name {
  grid-area: 1/2/2/3;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 17px;
  line-height: 1.44;
  color: #ffffff;
}
.slider-b7__item__wrap__date {
  grid-area: 2/2/3/3;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.44;
  color: rgba(255, 255, 255, 0.44);
}
.slider-b7__item__text {
  overflow-y: scroll;
  width: 100%;
  height: 100px;
  text-align: left;
  line-height: 1.44;
  color: #fff;
  margin-top: 10px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  height: 85px;
  background: rgba(185, 165, 165, 0.11);
  border-radius: 12px;
}

/* Слайдер */
.slider-b7 {
  padding-left: 112px;
}
@media screen and (max-width: 992px) {
  .slider-b7 {
    padding-left: 35px;
  }
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slider-b7 .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
}

/* Стрелка влево */
.slider-b7 .slick-arrow.slick-prev {
  left: 0;
}

/* Стрелка вправо */
.slider-b7-cart .slick-arrow.slick-next {
  right: 0;
}

/* Стрелка не активная */
/* Точки (булиты) */
.slider-b7 .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.slider-b7 .slick-dots li {
  list-style: none;
  margin-top: 20px;
  z-index: 10;
}

/* Активная точка */
.slider-b7 .slick-dots li.slick-active button {
  width: 46px;
  height: 9px;
  border: 1px solid rgba(255, 255, 255, 0.68);
  background-color: rgba(255, 255, 255, 0.68);
}

/* Элемент точки */
.slider-b7 .slick-dots li button {
  font-size: 0;
  width: 13px;
  height: 9px;
  border: 1px solid #fff;
  border-radius: 12px;
  background-color: transparent;
  margin: 0 6px;
}

.sd_b8, .service3 {
  padding-top: 64px;
  padding-left: 55px;
  padding-bottom: 64px;
  padding-right: 55px;
}
.sd_b8__title {
  margin-bottom: 14px;
  text-align: left;
}
.sd_b8__text {
  margin-bottom: 41px;
  text-align: left;
}
.sd_b8__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sd_b8__card__item {
  max-height: 450px;
  width: calc((100% - 72px) / 3);
  margin: 0 12px;
  background-color: #f0f0f0;
  padding-top: 29px;
  padding-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
}
.sd_b8__card__item__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
}
.sd_b8__card__item__subtitle {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.64;
  margin-bottom: 7px;
}
.sd_b8__card__item__text {
  /* #0F4485 */
}
@media screen and (max-width: 992px) {
  .sd_b8__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sd_b8__card__item {
    width: 100%;
  }
  .sd_b8__card__item:not(:last-child) {
    margin-bottom: 25px;
  }
}

.sd_b9 {
  height: 100%;
  padding-top: 64px;
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 64px;
}
.sd_b9__frame {
  margin: 0 auto;
  text-align: center;
}
.sd_b9__title {
  margin-bottom: 48px;
}
.sd_b9__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .sd_b9__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-accordion {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

.accordion .accordion-item {
  border-bottom: 1px solid #eeeeee;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 95%;
  padding: 27px 0;
  color: #585858;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  border: 2px solid #eeeeee;
}
.accordion button .accordion-title {
  padding: 27px 1.5em 1em 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #292a24;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 15px;
  left: -1px;
  width: 23px;
  height: 3px;
  background: #e3022b;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 3px;
  height: 23px;
  background: #e3022b;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 10em;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  overflow-y: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.34;
  color: #585858;
  text-align: left;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear, max-height 200ms linear;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 23px;
  padding-right: 33px;
}
.accordion .accordion-content a {
  display: inline-block;
  margin-bottom: 23px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.34;
  text-transform: capitalize;
  color: #0F4485;
}
.accordion .accordion-content a::after {
  content: "🡭";
  margin-left: 5px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

.sd_b10 {
  height: 100%;
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 91px;
}
.sd_b10__title {
  margin-bottom: 25px;
  text-align: left;
}
.sd_b10__cardList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sd_b10__cardList__card {
  width: calc((100% - 148px) / 4);
  margin: 17px;
}
.sd_b10__cardList__card__img {
  margin: auto;
  margin-bottom: 18px;
}
.sd_b10__cardList__card__date {
  margin-bottom: 17px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.34;
  color: #787878;
}
.sd_b10__cardList__card__subtitle {
  margin-bottom: 13px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  color: #000000;
}
.sd_b10__cardList__card__text {
  margin-bottom: 20px;
  text-align: left;
}
.sd_b10__cardList__card a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 17px;
  line-height: 1.34;
  text-transform: capitalize;
  color: #0f4485;
}
.sd_b10__cardList__card a::after {
  content: "🡭";
  margin-left: 5px;
}
@media screen and (max-width: 992px) {
  .sd_b10 {
    padding-left: 25px;
    padding-right: 25px;
  }
  .sd_b10__cardList__card {
    width: calc((100% - 32px) / 2);
    margin: 8px;
  }
}

.sd_b11 {
  height: 100%;
  margin-top: 146px;
  padding-left: 190px;
  padding-right: 190px;
  text-align: center;
  margin-bottom: 112px;
}
.sd_b11__container {
  width: 100%;
}
.sd_b11 .accordion-content {
  text-align: left;
}
.sd_b11 .accordion-content p {
  padding-right: 70px;
}
.sd_b11__frame {
  margin-bottom: 14px;
}
.sd_b11__title {
  margin-bottom: 36px;
}
.sd_b11__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 99px;
  width: 68%;
  font-family: "Catamaran";
  font-weight: 500;
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0.015em;
}
.sd_b11__wrap::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 8px;
  background: #eeeeee;
  border-radius: 41px;
}
.sd_b11__wrap__link {
  color: #292a24;
}

.sd_b12 {
  margin-left: 55px;
  margin-right: 50px;
  margin-bottom: 45px;
  padding-left: 40px;
  padding-right: 52px;
  padding-top: 59px;
  padding-bottom: 145px;
  background: #fff;
}
.sd_b12__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sd_b12__wrap__info {
  height: 380px;
  border-right: 2px solid #eeeeee;
  padding-right: 67px;
  padding-bottom: 51px;
}
.sd_b12__wrap__info__title {
  text-align: left;
  margin-bottom: 29px;
}
.sd_b12__wrap__form {
  margin-left: 67px;
}
.sd_b12__wrap__form__user {
  display: grid;
  width: 80%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 18% 18% 36% 17%;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  row-gap: 20px;
}
.sd_b12__wrap__form__user label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.23;
  text-transform: capitalize;
  color: #535353;
}
.sd_b12__wrap__form__user label:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.sd_b12__wrap__form__user label:nth-child(6) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.sd_b12__wrap__form__user label input {
  background: #f0f0f0;
  border: none;
  border-radius: 4px;
  margin-top: 9px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  color: #858585;
}
.sd_b12__wrap__form__user label textarea {
  background: #f0f0f0;
  border: none;
  border-radius: 4px;
  margin-top: 9px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  color: #858585;
}
.sd_b12__wrap__form button {
  display: block;
  width: 185px;
  margin-top: 26px;
}
@media screen and (max-width: 992px) {
  .sd_b12 {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 45px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 59px;
    padding-bottom: 0;
  }
  .sd_b12__nav {
    display: grid;
  }
  .sd_b12__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .sd_b12__wrap__form {
    margin-left: 0;
  }
  .sd_b12__wrap__form__user {
    width: 90%;
    margin: auto;
  }
  .sd_b12__wrap__info {
    border: none;
  }
}

.sd_b12__info__list {
  margin-bottom: 35px;
}
.sd_b12__info__list__item:not(:last-child) {
  margin-bottom: 22px;
}
.sd_b12__info__list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.sd_b12__info__list__item a svg {
  margin-right: 18px;
}

.sd_b12__social__list, .footer__nav .logoBox__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sd_b12__social__list__icon {
  padding: 6px;
}
.sd_b12__social__list__icon:not(:last-child) {
  margin-right: 12px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-right: 55px;
  padding-left: 55px;
  padding-top: 61px;
  padding-bottom: 34px;
  background-color: #212121;
}
.footer__nav .logoBox {
  width: 25%;
}
.footer__nav .logoBox a {
  margin-bottom: 22px;
}
.footer__nav .logoBox p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
  margin-left: -10px;
  width: 100%;
  margin-bottom: 49px;
  margin-top: 23px;
}
.footer__nav .logoBox__list__icon {
  background-color: #fff;
  border-radius: 8px;
  padding: 6px 6px 4px 6px;
  margin-left: 12px;
}
.footer__nav .footerImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.footer__rights {
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 35px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  color: #8a8a8a;
}
.footer__rights__text1 {
  margin-right: 185px;
}
.footer__rights__text2 {
  justify-self: center;
}
.footer .wrapSitemap__title {
  color: #A5A5A5;
  margin-bottom: 15px;
}
.footer .wrapSitemap__list__item {
  margin-bottom: 8px;
}
.footer .wrapSitemap__list__item a {
  color: #fefefe;
}
.footer .wrapServices__title {
  margin-bottom: 15px;
}
.footer .wrapServices__list__item {
  margin-bottom: 8px;
}
.footer .wrapServices__list__item a {
  color: #fefefe;
}
.footer .wrapContact__title {
  margin-bottom: 15px;
}
.footer .wrapContact__list__item:not(:last-child) {
  margin-bottom: 22px;
}
.footer .wrapContact__list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #f7f7f7;
}
.footer .wrapContact__list__item a svg {
  margin-right: 18px;
  border-radius: 8px;
  padding: 5px;
  background-color: #fff;
}
@media screen and (max-width: 992px) {
  .footer__nav {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
  }
  .footer__nav__logoBox {
    grid-area: 1/1/3/2;
  }
  .footer__nav__wrapContact {
    grid-area: 1/2/2/3;
  }
  .footer__nav__footerImg {
    grid-area: 2/2/3/3;
  }
}

.service1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(264.04deg, rgba(113, 150, 196, 0.228) 0.68%, rgba(15, 68, 133, 0.3021) 86.04%), url(../src/img/hero1.jpg);
}
.service3 {
  text-align: center;
}
.service3 .sd_b8__title {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 64px;
}
.service3 .sd_b8__card__item {
  background-color: transparent;
}
.service3__wrap-icon {
  height: 50px;
  border-bottom: 2px solid #e9e9e9;
  margin-bottom: 31px;
  padding-bottom: 45px;
}
.service3 .sd_b8__card__item__icon {
  margin-bottom: 0;
}

.service5 {
  padding: 76px 0 50px 72px;
  margin: 0 55px;
  margin-bottom: 77px;
  background-image: url(../src/img/serviceBgB5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.service5__subtitle {
  line-height: 1.4;
}
.service5__text {
  font-family: "Catamaran";
  font-weight: 500;
  font-size: 23px;
  line-height: 1.4;
  color: #292a24;
}
.service5__btn {
  background-color: #e3022b;
}

.service6 {
  text-align: center;
  margin: 0 102px;
  margin-bottom: 113px;
}
.service6__title {
  margin-bottom: 65px;
}
.service6__list {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
}
.service6__item {
  border: 1px solid #e9e9e9;
  -moz-text-align-last: left;
       text-align-last: left;
}
.service6__item:nth-child(1) {
  padding-right: 50px;
  padding-bottom: 78px;
  border-left: none;
  border-top: none;
}
.service6__item:nth-child(2) {
  padding-left: 50px;
  padding-bottom: 78px;
  border-top: none;
  border-right: none;
}
.service6__item:nth-child(3) {
  padding-top: 42px;
  padding-right: 50px;
  border-bottom: none;
  border-left: none;
}
.service6__item:nth-child(4) {
  padding-left: 50px;
  padding-top: 42px;
  border-right: none;
  border-bottom: none;
}
.service6__num {
  margin-bottom: 8px;
  font-family: "Catamaran";
  font-weight: 600;
  font-size: 46px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: #0f4485;
}
.service6__subtitle {
  margin-bottom: 21px;
  font-family: "Catamaran";
  font-weight: 600;
  font-size: 25px;
  line-height: 1.4;
  letter-spacing: 0.015em;
  color: #000000;
}
.service6__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.23;
  color: #585858;
}
@media screen and (max-width: 992px) {
  .service6__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service6__item {
    border: none;
    border-bottom: 2px solid #e9e9e9;
  }
}

.service7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 76px 0 50px 72px;
  margin: 0 55px;
  background-image: url(../src/img/serviceBgB7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.service7 div {
  margin-right: 173px;
}

.service8 {
  text-align: center;
}
.service8 .sd_b9__img-list {
  margin-left: 100px;
}
.service8 .sd_b9__title {
  margin-top: 14px;
}

.service9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 44px 54px 58px 44px;
  background-color: #f0f0f0;
}
.service9__wrap-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service9 img {
  max-width: none;
}
.service9 img:not(:last-child) {
  margin-right: 52px;
}
.service9__wrap-text {
  margin-left: 100px;
  text-align: left;
}
.service9__text {
  text-align: left;
}
.service9__frame {
  margin-top: 14px;
  text-align: left;
}
.service9__title {
  margin-top: 17px;
  margin-bottom: 17px;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .service9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .service9__text {
    margin-bottom: 25px;
  }
}

.contact {
  background-image: linear-gradient(263.26deg, rgba(113, 150, 196, 0.228) 3.54%, rgba(15, 68, 133, 0.3021) 86.23%), url(../src/img/hero2.jpg);
}

.blog .blog-bg {
  background-image: linear-gradient(90.21deg, rgba(0, 0, 0, 0.44) 0.15%, rgba(1, 0, 0, 0) 99.8%), url(../src/img/hero3.jpg);
}
.blog .sd_b10__cardList__card {
  width: calc((100% - 111px) / 3);
  margin: 17px;
}
.blog .pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 992px) {
  .blog .sd_b10__cardList__card {
    width: calc((100% - 200px) / 1);
    margin: auto;
    margin-bottom: 50px;
  }
}

.blog-pagination {
  width: 100%;
  margin-top: 94px;
  margin-bottom: 94px;
  text-align: center;
}
.blog-pagination .pagination {
  display: inline-block;
  padding: 0;
}
.blog-pagination .pagination li {
  display: inline;
}
.blog-pagination .pagination li a {
  color: #ACACAC;
  float: left;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: 1px solid #ACACAC;
  border-radius: 6px;
  margin: 0 7px;
}
.blog-pagination .pagination li a.active {
  background-color: #0F4485;
  color: white;
  border: 1px solid #0F4485;
  border-radius: 6px;
}
.blog-pagination .pagination li a:hover:not(.active) {
  background-color: #ddd;
}

.blog .blog-bg {
  background-image: linear-gradient(90.21deg, rgba(0, 0, 0, 0.44) 0.15%, rgba(1, 0, 0, 0) 99.8%), url(../src/img/hero3.jpg);
}
.blog .sd_b10__cardList__card {
  width: calc((100% - 111px) / 3);
  margin: 17px;
}
.blog .pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 992px) {
  .blog .sd_b10__cardList__card {
    width: calc((100% - 200px) / 1);
    margin: auto;
    margin-bottom: 50px;
  }
}

.blog-pagination {
  width: 100%;
  margin-top: 94px;
  margin-bottom: 94px;
  text-align: center;
}
.blog-pagination .pagination {
  display: inline-block;
  padding: 0;
}
.blog-pagination .pagination li {
  display: inline;
}
.blog-pagination .pagination li a {
  color: #ACACAC;
  float: left;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: 1px solid #ACACAC;
  border-radius: 6px;
  margin: 0 7px;
}
.blog-pagination .pagination li a.active {
  background-color: #0F4485;
  color: white;
  border: 1px solid #0F4485;
  border-radius: 6px;
}
.blog-pagination .pagination li a:hover:not(.active) {
  background-color: #ddd;
}

.bathroom1 {
  background-image: linear-gradient(263.26deg, rgba(113, 150, 196, 0.228) 3.54%, rgba(15, 68, 133, 0.3021) 86.23%), url(../src/img/hero3.jpg);
}

.bathroom3 {
  margin-bottom: 162px;
}
.bathroom3 .current-menu-item:after {
  bottom: -20px;
  height: 10px;
  z-index: 10;
}
.bathroom3 .sd_b4__text1 {
  text-align: left;
  margin-bottom: 64px;
}

.bathroom4 {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 240px 21px 436px;
  gap: 23px 25px;
  grid-template-areas: "item1 item2 item3" "item1 item5 item3" "item4 item5 item3";
  padding-left: 55px;
  padding-right: 55px;
}
.bathroom4 .wrap-item1 {
  grid-area: item1;
  text-align: left;
}
.bathroom4 .wrap-item1 .sd_b4__frame {
  margin-bottom: 13px;
}
.bathroom4 .wrap-item1 .sd_b4__title {
  text-align: left;
  margin-bottom: 16px;
}
.bathroom4 .wrap-item1 .sd_b4__btn {
  margin-top: 31px;
}
.bathroom4 .wrap-item2 {
  grid-area: item2;
}
.bathroom4 .wrap-item3 {
  grid-area: item3;
}
.bathroom4 .wrap-item4 {
  grid-area: item4;
}
.bathroom4 .wrap-item5 {
  grid-area: item5;
}

.bathroom5 {
  text-align: center;
  padding-left: 55px;
  padding-right: 55px;
}
.bathroom5__frame {
  margin-bottom: 13px;
}
.bathroom5__title {
  margin-bottom: 58px;
}
.bathroom5__subtitle {
  text-align: left;
  font-size: 25px;
  color: #000000;
  margin-bottom: 24px;
}
.bathroom5__text {
  text-align: left;
  padding-bottom: 35px;
  border-bottom: 2px solid #e9e9e9;
  margin-bottom: 24px;
}

.bathroom6 .current-menu-item:after {
  bottom: -20px;
  height: 10px;
  z-index: 10;
}

.about1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 53, 53, 0.228)), color-stop(86.98%, rgba(0, 0, 0, 0.4731))) url(../src/img/home-hero.jpg);
  background-image: linear-gradient(180deg, rgba(53, 53, 53, 0.228) 0%, rgba(0, 0, 0, 0.4731) 86.98%) url(../src/img/home-hero.jpg);
}
.about1 .sd_b3__text {
  text-align: left;
}

.menu-container {
  display: none;
}
@media screen and (max-width: 992px) {
  .menu-container .mob-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-container .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  .menu-container .js-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 90;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
  .menu-container .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .menu-container .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  .menu-container .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .menu-container .mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  .menu-container .container {
    min-width: 320px;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-container .page-header {
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  .menu-container .page-header .container {
    min-height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu-container .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .menu-container .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
  .menu-container .menu .link:hover,
  .menu-container .menu .link:focus {
    text-decoration: underline;
  }
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media (max-width: 768px) {
  .menu-toggle {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */