body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f7f7;
  width: 100%;
  overflow-x: hidden;
}
html{
  width: 100%;
  overflow-x: hidden;
}
main {
  flex: 1;
}
