$primary-color-page: #0f4485;

$bg-header: #292a24;
$bg-footer-primary: #212121;
$bg-footer-secondary: #d9d9d9;
$bg-frame-primary: rgba(227, 2, 43, 0.11);
$bg-primary: #0f4485;
$bg-btn-pimary: #0f4485;
$icon-primary: #0f4485;

$text-primary: #f7f7f7;
$text-white: #fff;
$text-nav-manu: #666666;
$text-secondary: #585858;
$text-title: #292a24;

$link: #292a24;
$link-footer: #a5a5a5;

$accent-color: #e3022b;
$accent-color-icon: #ccc;
//  $accent-link-footer: yellow;

//  background-color: #f0f0f0; // фон карточки li _sd_b8.scss L32
//  background-color: #F7F7F7; // фон body

// $bg-body: #C6D3EC;
