// @use "layout/sd_b2";
// @use "sd_b1/sd_b1";

.service1 {
  @extend .slider__item;

  background-image: linear-gradient(
      180deg,
      rgba(53, 53, 53, 0.228) 0%,
      rgba(0, 0, 0, 0.4731) 86.98%
    ),
    url(../src/img/hero1.jpg);

  &__item {
    &__title {
      @extend .slider__item__title;
    }
    &__text {
      @extend .slider__item__text;
    }
    &__btn {
      @extend .slider__item__btn;
    }
  }
}
.service2 {
  @extend .sd_b2;
  &__wrap {
    @extend .sd_b2__wrap;
    &__icon {
      @extend .sd_b2__wrap__icon;
    }
    &__text {
      @extend .sd_b2__wrap__text;
    }
  }
}
.service3 {
  @extend .sd_b8;
}

.service3 {
  text-align: center;
}

.service5 {
  padding: 76px 0 50px 72px;
  margin: 0 55px;
  background-image: url(../src/img/serviceBgB5.jpg);
  &__subtitle {
    line-height: 1.4;
  }
  &__text {
    @extend .font-title;
    font-family: "Catamaran";
    font-weight: 500;
    font-size: 23px;
    line-height: 1.4;
    color: $text-title;
  }
  &__btn {
    background-color: #e3022b;
  }
}

.service6 {
}
.service7 {
  display: flex;
  justify-content: flex-end;
  padding: 76px 0 50px 72px;
  margin: 0 55px;
  background-image: url(../src/img/serviceBgB7.jpg);
  & div {
    margin-right: 173px;
  }
}
.service8 {
}
.service9 {
}
.service10 {
}
.service11 {
}
