.anchor {
  display: inline-block;

  padding: 8px 21px;

  font-family: "Montserrat";
  font-weight: 600;
  font-size: 17px;
  line-height: 1.23;

  letter-spacing: 0.015em;
  background: $bg-frame-primary;
  border-radius: 2px;

  & a {
    color: $accent-color;
  }
}
