.button{
  display: inline-block;
  background-color: $bg-btn-pimary;
  color: $text-white;

font-family: 'Raleway';
font-weight: 600;
font-size: 18px;
letter-spacing: 0.015em;
text-transform: capitalize;

padding: 14px 42px;
border-radius: 5px;
border-top-left-radius: 35px;
}