.footer-nav {
  height: 360px;
  background-color: $bg-footer-primary;
}
.rights {
    height: 49px;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    background-color: $bg-footer-secondary;
}