.footer {
  &__nav {
    // @extend .container;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 61px;
    padding-bottom: 34px;
    background-image: url(../src/img/footer-bg.png);
    background-color: #212121;
    background-position: bottom right;
    background-size: auto;
    background-repeat: no-repeat;

    & .logoBox {
      width: 20%;
      & a {
        margin-bottom: 22px;
      }
      & p {
        @extend .font-link;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        text-align: left;
        margin-left: -10px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 23px;
      }
      &__list {
        @extend .sd_b12__social__list;
        &__icon {
          background-color: $text-white;
          border-radius: 8px;
          padding: 6px 6px 4px 6px;
          margin-left: 12px;
        }
      }
    }
    & .footerImg {
      display: flex;
      align-items: end;
    }
    & .wrapSitemap {
      @extend .font-link;
      &__title {
        // @extend .font-link;
        color: $link-footer;
        margin-bottom: 15px;
      }
      &__list {
        &__item {
          margin-bottom: 8px;
          & a {
            color: #fefefe;
          }
        }
      }
    }
    & .wrapServices {
      @extend .wrapSitemap;
      &__title {
        margin-bottom: 15px;
      }
      &__list {
        &__item {
          margin-bottom: 8px;
          & a {
            color: #fefefe;
          }
        }
      }
    }
    & .wrapContact {
      &__title {
        @extend .font-link;
        //  @extend  .sd_b12__info__list;
        //  @extend  .sd_b12__info__list__item;
        margin-bottom: 15px;
      }
      &__list {
        &__item {
          &:not(:last-child) {
            margin-bottom: 22px;
          }

          a {
            display: flex;
            align-items: center;

            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #f7f7f7;

            svg {
              margin-right: 18px;
              border-radius: 8px;
              padding: 5px;
              background-color: $text-white;
            }
          }
        }
      }
    }
     @media screen and (max-width: 992px) {
 
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr 1fr;
      gap: 20px 20px;
      // grid-template-areas:
      //   "logoBox wrapContact"
      //   "logoBox footerImg";
      & .logoBox {
        width: 100%;
        grid-area: 1 / 1 / 3 / 2;
      }
  & .wrapSitemap{
     grid-area: 2 / 2 / 3 / 3;
  }
      & .wrapContact {
        grid-area: 1 / 2 / 2 / 3;
      }
      & .wrapServices {
        grid-area: 2 / 1 / 2 / 3;
        // 2/1/2/3
      }
    }
       @media screen and (max-width: 600px) {
    
        display: flex;
        flex-direction: column;
        & .logoBox {
          margin-bottom: 20px;
          width: 100%;
          text-align: center;
  
          & p {
            display: none;
          }
          &__list {
            margin: auto;
            margin-top: 20px;
          }
        }
        & .wrapSitemap {
          margin-top: 20px;
          text-align: center;
        }
     
    }
  }
  &__rights {
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $bg-footer-secondary;

    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 35px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.015em;

    color: #8a8a8a;
    &__text1 a {
      margin-right: 185px;
      word-wrap: break-word;
    }
    &__text2 a {
      // align-self: center;
      justify-self: center;
      word-wrap: break-word;
    }
    @media screen and (max-width: 600px) {
      padding: 5px;
    }
  }
  // @media screen and (max-width: 992px) {
 
  //     display: grid;
  //     grid-template-columns: 50% 50%;
  //     grid-template-rows: 1fr 1fr;
  //     gap: 20px 20px;
  //     // grid-template-areas:
  //     //   "logoBox wrapContact"
  //     //   "logoBox footerImg";
  //     &__logoBox {
  //       width: 100%;
  //       grid-area: 1 / 1 / 3 / 2;
  //     }
  //     &__wrapContact {
  //       grid-area: 1 / 2 / 2 / 3;
  //     }
  //     &__footerImg {
  //       grid-area: 2 / 2 / 3 / 3;
  //     }
 
  //   }
    // @media screen and (max-width: 600px) {
    //   &__nav {
    //     display: flex;
    //     flex-direction: column;
    //     & .logoBox {
    //       margin-bottom: 20px;
    //       width: 100%;
    //       text-align: center;
  
    //       & p {
    //         display: none;
    //       }
    //       &__list {
    //         margin: auto;
    //         margin-top: 20px;
    //       }
    //     }
    //     & .wrapSitemap {
    //       margin-top: 20px;
    //       text-align: center;
    //     }
    //   }
    // }
    }