.footer {
  &__nav {
    // @extend .container;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 61px;
    padding-bottom: 44px;
    background-image: url(../src/img/footer-bg.png);
    background-color: #212121;
    background-position: bottom -15px right;
    background-size: auto;
    background-repeat: no-repeat;

    & .logoBox {
      width: 20%;
      // & a {
      //   margin-bottom: 22px;
      // }
      & p {
        @extend .font-link;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        text-align: left;
        margin-left: -10px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 23px;
      }
      &__list {
        @extend .sd_b12__social__list;
        &__icon {
          width: 34px;
          height: 34px;
          background-color: $text-white;
          border-radius: 8px;
          padding: 6px;
          margin-left: 12px;
          &:hover {
            background-color: $accent-color-icon;
          }
          & a {
            display: inline-block;
            height: initial;
            height: 22px;
          }
        }
      }
    }
    & .footerImg {
      display: flex;
      align-items: end;
    }
    & .wrapSitemap {
      @extend .font-link;
      &__title {
        // @extend .font-link;
        color: $link-footer;
        margin-bottom: 15px;
      }
      &__list {
        &__item {
          margin-bottom: 8px;
          & a {
            color: #fefefe;
          }
        }
      }
    }
    & .wrapServices {
      @extend .wrapSitemap;
      &__title {
        margin-bottom: 15px;
      }
      &__list {
        &__item {
          margin-bottom: 8px;
          & a {
            color: #fefefe;
          }
        }
      }
    }
    & .wrapContact {
      &__title {
        @extend .font-link;
        //  @extend  .sd_b12__info__list;
        //  @extend  .sd_b12__info__list__item;
        margin-bottom: 15px;
      }
      &__list {
        &__item {
          color: $link-footer;
          // &:hover a {
          // color:$accent-link-footer;
          // }
          &:not(:last-child) {
            margin-bottom: 22px;
          }

          a {
            display: flex;
            align-items: center;

            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #f7f7f7;

            svg {
              margin-right: 18px;
              border-radius: 8px;
              padding: 5px;
              background-color: $text-white;
              width: 29px;
            }
          }
        }
      }
    }
    & .wrapSitemap li:hover a,
    .wrapServices li:hover a,
    .wrapContact li:hover a {
      color: $accent-color;
    }

    @media screen and (max-width: 992px) {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr 1fr;
      gap: 20px 20px;
      // grid-template-areas:
      //   "logoBox wrapContact"
      //   "logoBox footerImg";
      & .logoBox {
        width: 100%;
        grid-area: 1 / 1 / 3 / 2;
      }
      & .wrapSitemap {
        grid-area: 2 / 2 / 3 / 3;
      }
      & .wrapContact {
        grid-area: 1 / 2 / 2 / 3;
      }
      & .wrapServices {
        grid-area: 2 / 1 / 2 / 3;
        // 2/1/2/3
      }
    }
    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      padding-bottom: 100px;
      background-image: url(../src/img/footer-bg.png);
      background-color: #212121;
      background-position: bottom -40px right -50px;
      background-size: auto;
      background-repeat: no-repeat;
      & .logoBox {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;

        & p {
          display: none;
        }
        &__list {
          margin: auto;
          margin-top: 20px;
        }
      }
      & .wrapSitemap {
        margin-top: 20px;
        text-align: center;
      }
    }
    @media screen and (max-width: 480px) {
      & .wrapContact__list__item svg {
        display: none;
      }
    }
  }
  &__rights {
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    // height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: $bg-footer-secondary;


    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;

    color: #8a8a8a;
    &__text1 {
      text-align: left;
       flex-basis: 50%;

    }
    &__text2 {
       flex-basis: 50%;
    }
    @media screen and (max-width: 992px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      &__text1 {
        text-align: center;
        margin: 0;
        word-wrap: break-word;
      }
    }
  }
}
