.sd_b12 {
  @extend .container;
  margin: 31px 50px 65px 55px;
  padding: 40px 52px 59px 145px;
  background-color: #fff;

  &__wrap {
    display: flex;
    justify-content: space-between;
    &__info {
      height: 100%;
      border-right: 2px solid #eeeeee;
      padding-right: 67px;
      padding-bottom: 51px;
      &__title {
        @extend .font-title;
        text-align: left;
        margin-bottom: 29px;
      }
    }

    &__form {
      margin-left: 67px;

      &__user {
        display: grid;
        width: 80%;

        grid-template-columns: 50% 50%;
        grid-template-rows: 18% 18% 36% 17%;

        column-gap: 18px;
        row-gap: 20px;
        & label {
          display: flex;
          flex-direction: column;

          font-family: "Montserrat";
          font-weight: 400;
          font-size: 17px;
          line-height: 1.23;
          text-transform: capitalize;

          color: #535353;
          &:nth-child(5) {
            grid-column-start: 1;
            grid-column-end: 3;
          }
          &:nth-child(6) {
            grid-column-start: 1;
            grid-column-end: 2;
          }
          & input {
            background: #f0f0f0;
            border: none;
            border-radius: 4px;
            margin-top: 9px;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 16px;
            color: #858585;
          }
          & textarea {
            background: #f0f0f0;
            border: none;
            border-radius: 4px;
            margin-top: 9px;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 16px;
            color: #858585;
          }
        }
      }
      & button {
        @extend .button;
        display: block;
        width: 185px;
        margin-top: 26px;
      }
    }
  }
  &__info {
    &__list {
      margin-bottom: 35px;
      &__item {
        padding: 6px;
        &:hover a {
          color: $accent-color;
        }
        &:not(:last-child) {
          margin-bottom: 22px;
        }

        a {
          display: flex;
          align-items: center;
          word-wrap: break-word;
          width: initial;
          height: initial;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;

          color: #000000;
          svg {
            margin-right: 18px;
          }
        }
      }
    }
  }
  &__social {
    &__list {
      display: flex;
      &__icon {
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 6px;
        &:hover {
          background-color: $accent-color-icon;
        }
        & a {
          display: inline-block;
          // width: initial;
          height: 22px;
        }
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    margin: 0 30px 45px 30px;
    padding: 59px 30px 0 30px;

    &__nav {
      display: grid;
    }
    &__wrap {
      flex-direction: column-reverse;
      &__form {
        margin-left: 0;
        margin-bottom: 50px;
        &__user {
          width: 90%;
        }
      }
      &__info {
        border: none;
      }
    }
  }
  @media screen and (max-width: 600px) {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;

    &__wrap {
      &__form {
        &__user {
          width: 100%;
          margin: auto;
        }
      }
      &__info {
        padding-right: 15px;
      }
    }
  }
}
