.sd_b12 {
  margin-left: 55px;
  margin-right: 50px;
  padding-left: 40px;
  padding-right: 52px;
  padding-top: 59px;
  padding-bottom: 145px;

  background: #fff;
}
.sd_b12__wrap {
}
.sd_b12__wrap__info {
}
.sd_b12__info__list {
}
.sd_b12__info__list__item {
}
.header-contact__icon {
}
.sd_b12__icon {
}
.sd_b12__social__list {
}
.sd_b12__social__icon {
}
.sd_b12_wrap__form {
}