.sd_b10 {
  height: 100%;
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 91px;
  &__frame {
    @extend .anchor;
  }
  &__title {
    @extend .font-title;
    margin-bottom: 25px;
    text-align: left;
  }
  &__cardList {
    display: flex;
    flex-wrap: wrap;

    &__card {
      width: calc((100% - 4 * 37px) / 4);
      margin: 0 17px 17px 17px;
      &__img {
        margin: auto;
        margin-bottom: 18px;
      }
      &__date {
        margin-bottom: 17px;

        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        line-height: 1.34;
        color: #787878;
      }
      &__subtitle {
        margin-bottom: 13px;

        font-family: "Montserrat";
        font-weight: 600;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.015em;
        text-transform: capitalize;

        color: #000000;
      }
      &__text {
        @extend .font-text;
        margin-bottom: 20px;
        text-align: left;
      }
      & a {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 17px;
        line-height: 1.34;
        text-transform: capitalize;
        color: #0f4485;
        &::after {
          content: "\1F86D"; //   \1F86D
          margin-left: 5px;
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    padding-left: 25px;
    padding-right: 25px;
    &__cardList__card {
      width: calc((100% - 2 * 16px) / 2);
      margin: 8px;
    }
  }
  @media screen and (max-width: 600px) {
    padding-left: 25px;
    padding-right: 25px;
    &__cardList__card {
      width: calc((100% - 1 * 16px) / 1);
      margin: 8px;
    }
  }
}
