.sd_b9 {
height: 100%;
  padding-top: 64px;
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 64px;
  // text-align: center;

  &__frame {
    @extend .anchor;

    // min-width: 150px;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    @extend .font-title;
    margin-bottom: 48px;
  }
  &__wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__img-list {
    @extend .sd_b3__img-list;
    // height: 533px;
    // display: flex;
  }

       @media screen and (max-width: 992px) {
&__wrap{
  flex-direction: column;
}
}
}
// ============== accordion =====================

// @import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

// $bg: #fff;
// $text: #7288a2;
// $gray: #4d5974;
// $lightgray: #e5e5e5;
// $blue: #03b5d2;

// * {
//   box-sizing: border-box;
//   &::before,
//   &::after {
//     box-sizing: border-box;
//   }
// }

// body {
//   margin: 0;
//   padding: 0;
//   font-family: "Hind", sans-serif;
//   background: $bg;
//   color: $gray;
//   display: flex;
//   min-height: 100vh;
// }

.container-accordion {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

.accordion {
  .accordion-item {
    border-bottom: 1px solid #eeeeee;
    button[aria-expanded="true"] {
      // border-bottom: 1px solid $blue;
    }
  }
  button {
    position: relative;
    display: block;
    text-align: left;
    width: 95%;
    // padding: 1em 0;
    padding: 27px 0;
    color: #585858;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    &:hover,
    &:focus {
      cursor: pointer;
      // color: $blue;
      &::after {
        cursor: pointer;
        // color: $blue;
        border: 2px solid #eeeeee;
      }
    }
    .accordion-title {
      // padding: 1em 1.5em 1em 0;
      padding: 27px 1.5em 1em 0;

      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 23px;

      color: #292a24;
    }
    .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      // width: 22px;
      // height: 22px;
      // border: 1px solid;
      // border-radius: 22px;
      &::before {
        display: block;
        position: absolute;
        content: "";
        top: 15px; //9px
        left: -1px;
        width: 23px;
        height: 3px;
        background: $accent-color;
      }
      &::after {
        display: block;
        position: absolute;
        content: "";
        top: 5px;
        left: 9px; //9px
        width: 3px;
        height: 23px;
        background: $accent-color;
      }
    }
  }
  button[aria-expanded="true"] {
    // color: $blue;
    .icon {
      &::after {
        width: 0;
      }
    }
    + .accordion-content {
      opacity: 1;
      max-height: 10em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    overflow-y: auto;

      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 1.34;
      color: #585858;
    }
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    p {
      font-size: 1rem;
      font-weight: 300;
      // margin: 12px 0;
      margin-bottom: 23px;
      padding-right: 33px;
    }
    a {
      display: inline-block;
      // margin-top: 10px;
      margin-bottom: 23px;

      font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 1.34;
text-transform: capitalize;
color: #0F4485;
    }
  }
  //  @media screen and (max-width: 992px) {
  //   &__wrap{
  //     flex-direction: column;
  // justify-content: center;
  // width: 100%;

  //   }
  //  }


//      @media screen and (max-width: 992px) {
// &__wrap{
//   flex-direction: column;
// }
// }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  background: rgba(66, 51, 51, 0.11);
  border-radius: 12px;
}
