.sd_b12 {
  margin-left: 55px;
  margin-right: 50px;
  margin-bottom: 45px;
  padding-left: 40px;
  padding-right: 52px;
  padding-top: 59px;
  padding-bottom: 145px;
  background: #fff;

  &__wrap {
    display: flex;
    &__info {
      height: 100%;
      border-right: 2px solid #eeeeee;
      padding-right: 67px;
      padding-bottom: 51px;
      &__title {
        @extend .font-title;
        text-align: left;
        margin-bottom: 29px;
      }
    }
    &__form {
      margin-left: 67px;
      &__user {
        display: grid;
        width: 80%;

        grid-template-columns: 50% 50%;
        grid-template-rows: 18% 18% 36% 17%;

        column-gap: 18px;
        row-gap: 20px;
        & label {
          display: flex;
          flex-direction: column;

          font-family: "Montserrat";
          font-weight: 400;
          font-size: 17px;
          line-height: 1.23;
          text-transform: capitalize;

          color: #535353;
          &:nth-child(5) {
            grid-column-start: 1;
            grid-column-end: 3;
          }
          &:nth-child(6) {
            grid-column-start: 1;
            grid-column-end: 2;
          }
          & input {
            background: #f0f0f0;
            border: none;
            border-radius: 4px;
            margin-top: 9px;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 16px;
            color: #858585;
          }
          & textarea {
            background: #f0f0f0;
            border: none;
            border-radius: 4px;
            margin-top: 9px;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 16px;
            color: #858585;
          }
        }
      }
      & button {
        @extend .button;
        display: block;
        width: 185px;
        margin-top: 26px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 45px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 59px;
    padding-bottom: 0;

    &__nav {
      display: grid;
    }
    &__wrap {
      // flex-direction: column;
      flex-direction: column-reverse;
      &__form {
        margin-left: 0;
        margin-bottom: 50px;
        &__user {
          width: 90%;
          // margin: auto;
        }
        & button {
          // margin: auto;
          // margin-bottom: auto;
        }
      }
      &__info {
        border: none;
      }
    }
  }
  @media screen and (max-width: 600px) {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;

    &__nav {
    }
    &__wrap {
      &__form {
        &__user {
          width: 100%;
          margin: auto;
          // white-space: nowrap;
        }
        & button {
          // margin: auto;
          // margin-bottom: auto;
        }
      }
      &__info {
       padding-right: 15px;
      }
    }
  }
}

.sd_b12__info__list {
  margin-bottom: 35px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 22px;
    }

    a {
      display: flex;
      align-items: center;
      word-wrap: break-word;

      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;

      color: #000000;
      svg {
        margin-right: 18px;
      }
    }
  }
}

.sd_b12__social__list {
  display: flex;
  &__icon {
    padding: 6px;
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}
// .sd_b12_wrap__form {
//   & .form{

//   & label {
//           display: flex;
//     flex-direction: column;
//     margin-bottom: 9px;
//    }
//   }
// }
// .sd_b12__wrap__info__title {
// }
// .sd_b12__info__list {
// }
// .sd_b12__info__list__item {
// }
// .header-contact__icon {
// }
// .sd_b12__icon {
// }
// .sd_b12__social__list {
// }
// .sd_b12__social__icon {
// }
// }
