.sd_b4 {
  // padding: 100px 104px 98px 126px;
  padding-top: 100px;
  padding-right: 104px;
  padding-bottom: 98px;
  padding-left: 126px;

  text-align: center;

  &__frame {
    @extend .anchor;
  }
  &__title {
    @extend .font-title;
    margin-bottom: 36px;
    // text-align: center;
  }

  &__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 99px;
    width: 580px;

    font-family: "Catamaran";
    font-weight: 500;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.015em;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: -1px;
      bottom: -21px;
      width: 101%;
      height: 10px;
      background: #eeeeee;
      border-radius: 41px;
    }
    &__link {
      // @extend .current;
      color: $link;

      // &.current {
      //   position: relative;
      //   color: $accent-color;
      // &::after {
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   left: 0;
      //   bottom: -14px;
      //   width: 100%;
      //   height: 4px;
      //   background: $accent-color;
      //   border-radius: 2px;
      // }
      // }
    }
  }
  &__subtitle {
    margin-bottom: 14px;
    font-family: "Catamaran";
    font-weight: 600;
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 0.015em;
    text-align: left;
    color: $text-title;
  }
  &__text {
    @extend .font-text;
    text-align: left;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__list {
    @extend .sd_b4__text;
    &__item {
      margin-bottom: 34px;
    }
  }
  & img {
    display: block;
  }
  &__wrapper {
    display: flex;
  }
}

.sd_b4__item {
  margin-bottom: 13px;
}

.sd_b4__item::before {
  content: url("../src/img/angle.svg");
  display: inline-block;
  width: 17px;
  height: 15px;
  margin-right: 14px;
}

.sd_b4__btn {
  @extend .button;
  margin-top: 37px;
  background-color: $bg-primary;
}
