.sd_b5 {
  @extend .container;
  padding-top: 100px;
  padding-bottom: 64px;
  text-align: center;
  &__frame {
    @extend .anchor;
  }

  &__title {
    @extend .font-title;
    margin-bottom: 80px;
  }
  &__subtitle {
    font-family: "Catamaran";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 0.015em;
    color: #000000;
    margin-bottom: 18px;
  }
  &__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #585858;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    align-items: baseline;
    // margin-bottom: 28px;
  }
  &__card {
    // width: 260px;
    // height: 190px;
    // margin-bottom: 128px;

    flex-basis: calc((100% - 4 * 2px) / 4);
    margin: 2px;
     @media screen and (max-width: 992px) {
        flex-basis: calc((100% - 2 * 2px) / 2);
        margin: 2px;
    }
    @media screen and (max-width: 600px) {
      // flex-basis: calc((100% - 1 * 1px) / 1);
      // margin: 1px;
    }
  }
  & .icon-b5 {
    padding: 20px;
  }
  & .wrap {
    text-align: center;
    background-color: #eee;
    margin: 0 auto;

    &__border {
      width: 99%;
      margin-bottom: 55px;

      &__letter {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-weight: 700;
        width: 24px;
        height: 24px;
        padding: 6px;
        border-radius: 50%;
        background-color: red;
        font-size: 19px;
        color: #ffffff;
        margin: 0 auto;
      }
    }
  

  }

  &__request {
    display: flex;
    justify-content: end;
    height: 207px;
    padding: 51px 76px 81px;
    background-image: url(../src/img/sd_b5-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__subtitle {
      margin-bottom: 7px;
      text-align: start;

      font-family: "Catamaran";
      font-style: normal;
      font-weight: 600;
      font-size: 31px;
      line-height: 51px;
      color: $text-white;
    }
    &__text {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 18px;
      line-height: 1.22;
      text-align: center;

      color: #ffffff;
    }
    &__btn {
      @extend .button;
      background-color: $text-white;
      color: $bg-btn-pimary;
      height: 45px;
      border-top-left-radius: 20px;
      padding: 11px 31px 12px 32px;
      margin-top: 30px;
      margin-left: 77px;
      // border: none;
    }
  }
  @media screen and (max-width: 992px) {
    &__request {
      height: 300px;
      display: flex;
      align-items: center;

      &__subtitle {
        text-align: center;
      }
      &__btn {
        height: 65px;
      }
      &__text {
        margin: auto;
      }
    }
  }
 
  
  // @media screen and (max-width: 500px) {

  // }
}
