.sd_b8 {
@extend .container;

  padding-top: 64px;
  padding-left: 55px;
  padding-bottom: 64px;
  padding-right: 55px;
  // text-align: start;

  &__frame {
    @extend .anchor;
  }

  &__title {
    @extend .font-title;
    margin-bottom: 14px;
    text-align: left;
  }
  &__text {
    @extend .font-text;
    margin-bottom: 41px;
    text-align: left;
  }
  &__card {
    display: flex;

    &__item {
      max-height: 450px;
      width:  calc((100% - 3 * 24px) / 3); 
      margin: 0 12px;
      background-color: #f0f0f0;
      padding-top: 29px;
      padding-bottom: 41px;
      padding-left: 20px;
      padding-right: 20px;

      &__icon {
        display: block;
        margin: 0 auto;
        margin-bottom: 14px;
      }
      &__subtitle {
        @extend .font-title;
        font-weight: 500;
        font-size: 25px;
        line-height: 1.64;
        margin-bottom: 7px;
      }
      &__text {
        @extend .font-text;
        /* #0F4485 */
        //         background: #0F4485;
        // border: 2px solid #0F4485;
        // transform: matrix(0.7, -0.71, 0.7, 0.71, 0, 0);
      }
    }
  }
  @media screen and (max-width: 992px) {
    &__card {
      flex-direction: column;
      &__item{
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
    }
  }
}
