.sd_b9 {
  height: 720px;
  padding-top: 64px;
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 64px;
  // text-align: center;

  &__frame {
    @extend .anchor;

    // min-width: 150px;
    // margin: 0 auto;
    // text-align: center;
  }
  &__title {
    @extend .font-title;
    margin-bottom: 14px;
  }
  &__wrap {
    height: 533px;
    display: flex;
  }

  &__img-list {
    @extend .sd_b3__img-list;
    // height: 533px;
    // display: flex;
  }
}
// ===================================

.sd_b9 summary {
  width: 200px; //test
}
