.sd_b10 {
  height: 630px;
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 91px;
  &__frame {
    @extend .anchor;
  }
  &__title {
    @extend .font-title;
    margin-bottom: 25px;
    text-align: left;
  }
  &__cardList {
    display: flex;
    justify-content: space-around;
    &__card {
      width: 312px;
      height: 515px;
      &__img {
        margin-bottom: 18px;
      }
      &__date {
        margin-bottom: 17px;

        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        line-height: 1.34;
        color: #787878;
      }
      &__subtitle {
        margin-bottom: 13px;

        font-family: "Montserrat";
        font-weight: 600;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.015em;
        text-transform: capitalize;

        color: #000000;
      }
      &__text {
        @extend .font-text;
        margin-bottom: 20px;
        text-align: left;
      }
      & a {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 17px;
        line-height: 1.34;
        text-transform: capitalize;
        color: #0F4485;
      }
    }
  }
}
