.sd_b6 {
  padding-top: 64px;
  padding-bottom: 64px;
  &__title {
    @extend .font-title;

    margin-bottom: 27px;
    text-transform: capitalize;
  }
  &__wrap {
    display: flex;
    justify-content: center;
    &__bg {
      height: 369px;
      width: 665px;
      background-image: url(../src/img/sd_b6-1.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &:nth-child(2) {
        background-image: url(../src/img/sd_b6-2.png);
      }
      &__subtitle {
        @extend .font-title;
        margin-bottom: 15px;
        margin-top: 148px;

        font-size: 25px;
        line-height: 1.64;
      }
      &__text {
        @extend .font-text;

        margin-bottom: 34px;
        padding-left: 145px;
        padding-right: 145px;
      }
      &__btn {
        @extend .button;
        margin: 0 auto;
        // background-color: $accent-color;
      }
    }
  }
}
