.sd_b3 {
  @extend .container;
  display: flex;
  justify-content: start;
  // padding: 64px 55px;
  // height: 566px;

  &__img-list {
    display: grid;

    grid-template-columns: 251px 251px;
    grid-template-rows: 251px 294px;
    column-gap: 31px;
    margin-left: 70px;

    & li:nth-child(2) {
      margin-top: 47px;
    }

    & li:nth-child(3) {
      margin-left: 26px;
    }
  }
  &__wrap {
    margin-left: 97px;
  }

  &__frame {
    @extend .anchor;
  }

  &__title {
    max-width: 447px;
    margin-bottom: 14px;

    font-family: "Catamaran";
    font-weight: 600;
    font-size: 33px;
    line-height: 1.4;
    letter-spacing: 0.015em;
    
    color: $text-title;
  }
  &__text1,
  &__text2 {
    max-width: 700px;

    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 1.23;
    color: $text-secondary;

    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  @media screen and (max-width: 992px) {
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    &__img-list {
      justify-content: center;
      width: 100%;
      margin: 0;
    }
    &__wrap {
      margin: 0 auto;
      margin-top: 32px;
    }
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center; 
    &__img-list {
      display: flex;
      flex-direction: column;
      margin: 0;
       & li:nth-child(1) {
         display: none;
        }
       & li:nth-child(2) {
        //  display: none;
        margin:0 auto;
        }
       & li:nth-child(3) {
         display: none;
        }
       & li:nth-child(4) img{
         display: none;
        }
    }
    &__wrap {
      margin: 0 auto;
      margin-top: 32px;
    }
  }
}
