.sd_b1 {
  height: 580px;
  padding-top: 164px;
  padding-left: 55px;
  background-image: linear-gradient(
      180deg,
      rgba(53, 53, 53, 0.228) 0%,
      rgba(0, 0, 0, 0.4731) 86.98%
    ),
    url(../src/img/home-hero.jpg);
  backdrop-filter: url(../src/img/home-hero.jpg) blur(1.5px); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    font-family: "Catamaran";
    font-weight: 700;
    font-size: 52px;
    line-height: 1.63;
    letter-spacing: 0.015em;
    text-transform: capitalize;
    color: $text-white;
  }

  &__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 1.25;
    color: $text-white;
    max-width: 679px;
    margin-bottom: 36px;
  }

  &__btn {
    @extend .button;
    padding: 14px 38px;
  }
}
