.sd_b9 {
  height: 720px;
  padding-top: 64px;
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 64px;
  // text-align: center;

  &__frame {
    @extend .anchor;

    // min-width: 150px;
    // margin: 0 auto;
    // text-align: center;
  }
  &__title {
    @extend .font-title;
    margin-bottom: 14px;
  }
  &__wrap {
    height: 533px;
    display: flex;
  }

  &__img-list {
    @extend .sd_b3__img-list;
    // height: 533px;
    // display: flex;
  }
}
// ===================================

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.xpandable-block {
  height: 55px;
  overflow: hidden;
  order: 0;
}
.xpand-button {
  order: 1;
}
input[type="checkbox"] {
 display: none;
}
input[type="checkbox"]:checked + .xpandable-block {
  height: auto;
}
label {
  order: 1;
  color: blue;
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
}
